@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

* { font-family: 'Titillium Web', sans-serif; }

h1 { font-size: 9vw; }

h3 { font-size: 5vw; }

#single-nav { background-color: black; }

body { background-color: black; }

#container-img-jumb {
    background: url("../image/keyboard_space.jpg") no-repeat center center fixed;
    height: 500px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#container-img-jumb .container {
    margin-top: 5%;
    color: whitesmoke;
}